<div class="container text-center w-50 my-2">
  <div class="displayTable">
    <div class="displayTableCell">

      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>

        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>

        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" value="Log in"
                  (click)="authService.signIn(userName.value, userPassword.value)">Sign In
          </button>
        </div>

        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.googleAuth()">
            Log in with Google
          </button>
        </div>

        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.githubAuth()">
            <i class="fa fa-git"></i>
            Log in with GitHub
          </button>
        </div>

        <div class="forgotPassword">
          <button routerLink="/forgot-password">Forgot Password?</button>
        </div>
      </div>

      <div class="redirectToLogin">
        <span>Don't have an account?<a class="redirect" routerLink="/sign-up"> Sign Up</a></span>
      </div>

    </div>
  </div>

</div>
